# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.o
*.pyd
*.so

# Environments
.env
.venv
env/
venv/
ENV/
VENV/

# Data files
data/raw/fpoly_survey.csv
data/processed/fpoly_survey_cleaned.csv

# IDE directories
.idea/
.vscode/

# Secrects Key
secrets/
